
// 两边内边距
$main-padding: 2rem;

// 头部高度
$header-height: 3.6rem;

// 轮播高度
$swiper-height: 11rem;

$button-position: 0.2rem;

$title-color:#303234;
$content-color: #414141;
$mark-color: #e81919;
$shadow-color: rgba(224, 224, 224, 0.9);
$img-backgroundColor: rgba(241, 236, 236, 0.6);
$header-backgroundColor: #49c19b;
$footer-backgroundColor: rgb(233, 233, 233);


