@import "./theme.scss";
.pc-main-container {
  position: relative;
  box-sizing: border-box;
  width: $main-width;
  margin: 0 auto;
  padding: 0 $main-padding;
}

.pc-main-info {
  position: relative;
  box-sizing: border-box;
  width: $info-width;
  margin: 0 auto;  
}

.pc-main-sidebar {
  $color: rgb(56, 56, 56);
  cursor: pointer;
  color: $color;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: left;
  position: absolute;
  top: 80px;
  left: $main-padding;
  width: $side-width;
  >li {
    position: relative;
    padding: 16px 0;
    transition: 0.4s;
    &.mark {
      color: $mark-color;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      border-top: 1px solid $color;
    }
    >div:first-child {
      font-weight: bold;
    }
  }
}

.pc-subpage-container {
  position: relative;
  box-sizing: border-box;
  width: $main-width;
  margin: 0 auto;
  padding: 0 $subpage-padding;
}

.pc-subpage-breadcrumb {
  margin: 22px 0 60px 10px;
}

.pc-subpage-radio {
  font-size: 0;
  position: absolute;
  top: 0;
  right: $subpage-padding;
  >i {
    $side-length: 36px;
    $color: rgba(1, 1, 1, 0.4);
    $active-color: rgb(1, 1, 1);
    color: $color;
    font-size: 22px;
    line-height: $side-length;
    text-align: center;
    display: inline-block;
    width: $side-length;
    border: 1px solid $color;
    &.artists {
      border-right: 1px solid $active-color;
    }
    &.works {
      border-left: none;
    }
    &.active {
      color: $mark-color;
      border-color: $active-color;
    }
    &.not-active {
      cursor: pointer;
    }
  }
}