@import "./theme.scss";
$info-padding: 100px;
$img-width: 34%;
$introduce-width: 60%;
.pc-subpage-info {
  position: relative;
  box-sizing: border-box;
  width: $main-width;
  margin: 0 auto;
  padding: 0 $info-padding;
}

.pc-subpage-breadcrumb {
  margin: 35px 0 65px 10px;
}

.pc-subpage-radio{
  font-size: 0;
  position: absolute;
  top: 0;
  right: $info-padding;
  > i{
    $side-length: 36px;
    $color: rgba(1, 1, 1, 0.4);
    $active-color: rgb(1, 1, 1);
    color: $color;
    font-size: 22px;
    line-height: $side-length;
    text-align: center;
    display: inline-block;
    width: $side-length;
    border: 1px solid $color;
    &.artists{
      border-right: 1px solid $active-color;
    }    
    &.works{
      border-left: none;
    }
    &.active {
      color: $mark-color;
      border-color: $active-color;
    }
    &.not-active{
      cursor: pointer;
    }
  }
}

.pc-subpage-list-item {
  font-size: 0;
  margin-bottom: 50px;
  >img,
  >div {
    vertical-align: top;
    display: inline-block;
  }
  >.pc-subpage-img {
    width: $img-width;
    margin-right: 99% - $img-width - $introduce-width;
  }
  >.pc-subpage-introduce {
    width: $introduce-width;
    .pc-subpage-title {
      margin-bottom: 15px;
      >div {
        letter-spacing: 4px;        
      }
      >.pc-subpage-maintitle {
        font-size: 22px;        
        font-weight: bold;
      }
      >.pc-subpage-subtitle {
        font-size: 18px;
        margin-top: 5px;    
      } 
    }
    .pc-subpage-description {
      font-size: 15px;
      line-height: 2;
      letter-spacing: 2px;
    }
  }
}