@font-face {
  font-family: 'iconfont';  /* project id 495402 */
  src: url('//at.alicdn.com/t/font_495402_u725pcvbrnovfgvi.eot');
  src: url('//at.alicdn.com/t/font_495402_u725pcvbrnovfgvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_495402_u725pcvbrnovfgvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_495402_u725pcvbrnovfgvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_495402_u725pcvbrnovfgvi.svg#iconfont') format('svg');
}

[class*=" icon-"], [class^=icon-] {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before { content: "\e630"; }

.icon-search:before { content: "\e6ac"; }

.icon-viewgallery:before { content: "\e6b4"; }

.icon-viewlist:before { content: "\e6b5"; }

.icon-accountfilling:before { content: "\e732"; }

.icon-pic-filling:before { content: "\e802"; }

.icon-fenxiang:before { content: "\e624"; }