@import './theme.scss';

.mobile-header{

  .button {
    margin: 0 1.5rem 0 0.5rem;
  }
}

.mobile-main{
  box-sizing: border-box;
  height: 100vh;
  padding-top: $mobile-header-height;
  overflow-y: auto;
}

.mobile_search{
  $side-length: 2.3rem;  
  position: relative;
  display: block;
  &::after { 
    content: "\e6ac";
    font-family: "mintui";
    font-size: 1rem;
    line-height: $side-length;  
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    width: $side-length;
    height: $side-length;
    display: block;
  }
  > input{
    line-height: $side-length;      
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0 $side-length 0 0.8rem;
    border: none;  
    background-color: rgb(233,233,233);
  }
}

